<div class="_mainBody">

  <div class="container-fluid">

    <div class="d-flex _cardsPanel">

      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Voice Over</h5>
          <p class="card-text">Having a good voice over is key to sucessfull multi-media campgin. Here are some sample of my voice over work.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="assets/sounds/Bike_lift_precaution_01.mp3">
              Police Awareness
            </a>
          </li>
          <li class="list-group-item">
            <a href="assets/sounds/bookMarathi.mp3">
              Book Reading Marathi
            </a>
          </li>
          <li class="list-group-item">
            <a href="assets/sounds/bookHindi.mp3">
              Book Reading Hindi
            </a>
          </li>
          <li class="list-group-item">
            <a href="assets/sounds/bookEnglish.mp3">
              Book Reading English
            </a>
          </li>
        </ul>
      </div>
      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Writing</h5>
          <p class="card-text">
            Content writing is the other thing that i'm good at and here are some short essey.
          </p>
          <a href="assets/docs/saloni.pdf" class="btn btn-primary">Read the Content</a>
        </div>
      </div>
      <div class="card col-4">
        <img src="assets/images/events/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Anchoring</h5>
          <p class="card-text">
            Get your functions get right.
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="assets/images/events/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Acting</h5>
          <p class="card-text">I have acted in vaious film project and even in some theaters.
            This is just one of the picture from one such shoot.</p>
        </div>
      </div>

    </div>

  </div>

  <div class="d-flex p-3 justify-content-center">

  </div>

  <div class="d-flex flex-row p-3 _bottomNav justify-content-center">
    <div class="p-3 m-2 _navPills">Anchoring</div>
    <div class="p-3 m-2 _navPills">Acting</div>
    <div class="p-3 m-2 _navPills">Writing</div>
    <div class="p-3 m-2 _navPills">Voice Over</div>
    <div class="p-3 m-2 _navPills">and much much more....</div>
  </div>

</div>
