<div class="_mainBody">

  <!-- voice-over >> -->
  <div class="container-fluid" [hidden]="voice">

    <div class="d-flex _cardsPanel">

      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Voice Over</h5>
          <p class="card-text">Having a good voice over is key to successful multi-media campaign.
            Here are some sample of my voice-over work.</p>
        </div>
      </div>

      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Police Awareness</h5>
          <!--
            <p class="card-text">Having a good voice over is key to successful multi-media campaign.
            Here are some sample of my voice-over work.</p>
            -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="assets/sounds/Bike_lift_precaution_01.mp3">
              Police Awareness
            </a>
          </li>
        </ul>
      </div>

      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Book Reading</h5>
          <!--
            <p class="card-text">Having a good voice over is key to successful multi-media campaign.
            Here are some sample of my voice-over work.</p>
            -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="assets/sounds/bookMarathi.mp3">
              Book Reading Marathi
            </a>
          </li>
          <li class="list-group-item">
            <a href="assets/sounds/bookHindi.mp3">
              Book Reading Hindi
            </a>
          </li>
          <li class="list-group-item">
            <a href="assets/sounds/bookEnglish.mp3">
              Book Reading English
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>
  <!-- <</ voice-over -->

  <!-- write-ups >> -->
  <div class="container-fluid" [hidden]="write">

    <div class="d-flex _cardsPanel">
      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Writing</h5>
          <p class="card-text">
            Content writing is the other thing that I'm good at and here are some short write-ups.
          </p>
          <a href="assets/docs/saloni.pdf" class="btn btn-primary">Read the Content</a>
        </div>
      </div>
    </div>

  </div>
  <!-- <</ write-ups -->

  <!-- hosting >> -->
  <div class="container-fluid" [hidden]="host">

    <div class="d-flex _cardsPanel">
      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Anchoring/Hosting</h5>
          <p class="card-text">
            Event has to executed perfectly and hosting it is key to success. I host an event to make sure that it should be remembered as good memory, as a success.  
          </p>
        </div>
      </div>

      <div class="card col-4">
        <img src="../../assets/images/hosting/1.jpg" class="card-img-top" alt="...">
        <img src="../../assets/images/hosting/2.jpg" class="card-img-bottom" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/6.jpg" class="card-img-top" alt="...">
        <img src="../../assets/images/hosting/7.jpg" class="card-img-bottom" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/8.jpg" class="card-img-top" alt="...">
        <img src="../../assets/images/hosting/9.jpg" class="card-img-bottom" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/10.jpg" class="card-img-top" alt="...">
        <img src="../../assets/images/hosting/11.jpg" class="card-img-bottom" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/12.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/13.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/14.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/15.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/16.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/17.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/18.jpg" class="card-img-top" alt="...">
        <img src="../../assets/images/hosting/19.jpg" class="card-img-bottom" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/hosting/20.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Hosting  
          </p>
        </div>
      </div>

    </div>

  </div>
  <!-- <</ hosting -->

  <!-- acting >> -->
  <div class="container-fluid" [hidden]="act">

    <div class="d-flex _cardsPanel">
      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Acting</h5>
          <p class="card-text">
            I have done various acting jobs.
          </p>
        </div>
      </div>

      <div class="card col-4">
        <img src="../../assets/images/natak/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/11.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/12.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/13.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/14.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/15.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/16.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/17.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/18.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/19.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/natak/20.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Acting  
          </p>
        </div>
      </div>

    </div>

  </div>
  <!-- <</ acting -->

  <!-- modeling >> -->
  <div class="container-fluid" [hidden]="model">

    <div class="d-flex _cardsPanel">
      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Modeling</h5>
          <p class="card-text">
            I have done various modeling jobs.
          </p>
        </div>
      </div>

      <div class="card col-4">
        <img src="../../assets/images/modeling/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/11.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/12.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/13.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/14.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/15.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/16.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/17.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/18.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/19.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/modeling/20.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Modeling  
          </p>
        </div>
      </div>

    </div>

  </div>
  <!-- <</ modeling -->

  <!-- lecture >> -->
  <div class="container-fluid" [hidden]="lecture">

    <div class="d-flex _cardsPanel">
      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Lecture</h5>
          <p class="card-text">
            I have taken various lectures too.
          </p>
        </div>
      </div>

      <div class="card col-4">
        <img src="../../assets/images/lectures/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Lectures  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/lectures/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Lectures  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/lectures/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Lectures  
          </p>
        </div>
      </div>

    </div>

  </div>
  <!-- <</ lecture -->

  <!-- Directing >> -->
  <div class="container-fluid" [hidden]="direct">

    <div class="d-flex _cardsPanel">
      <div class="card col-4">

        <div class="card-body">
          <h5 class="card-title">Directing</h5>
          <p class="card-text">
            I have directed various projects.
          </p>
        </div>
      </div>

      <div class="card col-4">
        <img src="../../assets/images/directing/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Directing  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/directing/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Directing  
          </p>
        </div>
      </div>
      <div class="card col-4">
        <img src="../../assets/images/directing/3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Directing  
          </p>
        </div>
      </div>

    </div>

  </div>
  <!-- <</ Directing -->

  <div class="d-flex flex-row p-3 _bottomNav justify-content-center">
    <div class="p-3 m-2 _navPills" (click)="subNavigation('host')">Anchoring/Hosting</div>
    <div class="p-3 m-2 _navPills" (click)="subNavigation('act')">Acting</div>
    <div class="p-3 m-2 _navPills" (click)="subNavigation('write')">Writing</div>
    <div class="p-3 m-2 _navPills" (click)="subNavigation('voice')">Voice Over</div>
    <div class="p-3 m-2 _navPills" (click)="subNavigation('direct')">Direction</div>
    <div class="p-3 m-2 _navPills" (click)="subNavigation('lecture')">Lectures</div>
    <div class="p-3 m-2 _navPills" (click)="subNavigation('model')">Modeling</div>
  </div>

</div>
