<div class="container-fluid">
  <div class="row _mainBody">
    <div class="col-md-10 offset-1 align-self-center">
      <div class="container _theBox">
        <div class="row">

          <div class="col-7 align-self-center _theHeaderTextPanel">
            <div class="row _header">
              Director, Actor &amp; Writer
            </div>
            <div class="row _headerBody">
              Writer who perceives the world through a director's lens and acting through it.
              <br/>
              Writer is what i am, directing is what I love and acting is what I do.
              <br/>
              I am all of it and it all is ME!
            </div>

            <div class="d-flex flex-column m-5  justify-content-start _theCardsPanel">
              <div class="d-flex _smallHeader">
                I have worked with
              </div>
              <div class="flex-row d-flex">
                <div class="d-flex m-2 p-2 _smallCards" id="amazonLogo">
                  <img src="assets/images/c_logo/amazon.png">
                </div>
                <div class="d-flex m-2 p-2 _smallCards" id="inoxLogo">
                  <img src="assets/images/c_logo/inox.png">
                </div>
                <div class="d-flex m-2 p-2 _smallCards" id="samLogo">
                  <img src="assets/images/c_logo/sam.png">
                </div>
                <div class="d-flex m-2 p-2 _smallCards" id="starLogo">
                  <img src="assets/images/c_logo/star.webp">
                </div>
              </div>
            </div>

            <div class="d-flex flex-row justify-content-start _social">

              <div class="d-flex my-2 py-2 _socialIconHolder">
                <a href="https://www.instagram.com/salonishelkarpatil/" style="color: black;">
                  <i class="bi bi-instagram _socialIcons"></i>
                </a>
              </div>
              <div class="d-flex my-2 py-2 _socialIconHolder">
                <a href="https://www.facebook.com/saloni.shelkar.14" style="color: black;">
                  <i class="bi bi-facebook _socialIcons"></i>
                </a>
              </div>
              <div class="d-flex my-2 py-2 _socialIconHolder">
                <a href="https://twitter.com/ShelkarSaloni" style="color: black;">
                  <i class="bi bi-twitter _socialIcons"></i>
                </a>
              </div>
              <div class="d-flex my-2 py-2 _socialIconHolder">
                <a href="https://www.linkedin.com/in/saloni-shelkar-patil-4788b11ab" style="color: black;">
                  <i class="bi bi-linkedin _socialIcons"></i>
                </a>
              </div>
              <div class="d-flex my-2 py-2 _socialIconHolder">
                salonishelkarpatil@gmail.com
              </div>
            </div>


          </div>

          <div class="col-5">
            <div class="d-flex flex-column">
              <div class="d-flex m-3 _whiteBox">

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
